.background {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;

  .pizza-slice {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 0.8;
    transition: transform 0.3s ease;
  }
}
