.menu-mobile {
  background-color: #fff;
  width: 100%;

  .navigation-btn-mobile {
    padding: 20px 0;
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: start;
  }
}
